<h1>Here are my contacts</h1>

<h2>There are <strong> <%=@contacts.length%> </strong> contacts in the order they were saved:</h2>

<!-- List out contact information  -->
<ul class="contact_list">
  <% @contacts.each do |contact| %>
  <li class="each_contact">
    <%= " ID: #{contact.id} Name: #{contact.full_name} Email:#{contact.email} Note: #{contact.note}  " %>
  </li>
  <% end %>
</ul>

<a href="/">Home</a>
